.book-item {
  display: block;
  float: left;
  text-decoration: none;
  color: white;
  width: 210px;
  height: 300px;
  background-color: rgb(59, 60, 67);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.book-item:not(:last-child) {
  margin-bottom: 40px;
  margin-right: 40px;
}

.book-cover{
  width: 168px;
  height: 224px;
}

.book-item__title {
  position: absolute;
  top: -20px;
  font-size: 14px;
  font-weight: bold;
}

.book-buy__price {
  cursor: default;
}

.book-item .stars-rating {
  position: relative;
  width: 100px;
  left: 60px;
  font-size: 18px;
  top: 10px;
}

 .book-item .rating-average{
  color: #ffc107 !important;
}

.book-item .rate {
  display: none;
}

.book-item__description {
  margin-top: 10px;
  font-size: 14px;
}

.book-item__buy {
  position: absolute;
  bottom: -6px;
}

.book-item:hover {
	transform: scale(1.05);
}
