.book-page__content {
    display: flex;
}

.book-page .book-page__left {
    position: absolute;
    height: 400px;
    width: 300px;
    text-align: left;
    top: 220px;
    left: 350px;
    cursor: pointer;
}

.book-page .book-cover {
    height: 400px;
    width: auto;
}

.book-page .book-buy__price {
    position: absolute;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 2px;
    width: 460px;
    height: 68px;
    left: 700px;
    top: 410px;
    font-size: 28px;
    text-align: right;
}

.book-page .number_of_pages {
    font-size: 14px;
    position: absolute;
    left: 725px;
    top: 430px;
}

.book-page .btn {
    font-size: 14px;
    position: absolute;
    height: 40px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    top: 34px;
    left: 270px;
}

.book-page .btn--secondary {
    position: absolute;
    font-size: 14px;
    left: 270px;
}

.book-page .book-buy__button {
    position: absolute;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 2px;
    height: 100px;
    width: 460px;
    left: 659px;
    top: 498px;
}

.book-page .book-page__title {
    position: absolute;
    left: 700px;
    top: 198px;
}

.book-page__author {
    position: absolute;
    display: inline-flex;
    color: rgb(214, 213, 213);
    overflow: hidden;
    font-size: 25px;
    left: 700px;
    top: 270px;
}

.author {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 15px;
    color: white;
}

.book-page__left p {
    position: relative;
    cursor: default;
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.4em;
    height: 55.6em;
    overflow: hidden;
    width: 45em;
}

.book-page__review {
    position: absolute;
    left: 820px;
    top: 334px;
}
.sign_to_write_review {
    text-decoration: underline;
    cursor: pointer;
    color: aqua;
}

.pen {
    padding-left: 70px;
}

.book-page .stars-rating {
    display: inline-flex;
    position: absolute;
    transition: color 200ms;
    font-size: 24px;
    left: 340px;
    top: 220px;
    justify-content: space-between;
}

.book-page .stars:hover {
	transform: scale(1.40);
}

.book-page .rating-average:hover {
    transform: scale(1.40);
}
.book-page .rate {
    padding-left: 10px;
    margin-right: 1px;
}
