.book-page__content {
  display: flex;
}

.book-page .book-page__left{
  position: absolute;
  height: 400px;
  width: 300px;
  text-align: left;
  top: 220px;
  left: 350px;
  cursor: pointer;
}


.book-page .book-buy__price{
  position: absolute;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 2px;
  width: 460px;
  left: 700px;
  top: 433px;
  font-size: 32px;
  text-align: right;

}


.book-page .btn{
  font-size: 24px;
  position: absolute;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  top: 34px;
  left: 270px;

}

.book-page .btn--secondary{

  font-size: 24px;
  left: 370px;
}

.book-page .book-buy__button{
  position: absolute;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 2px;
  height: 100px;
  width: 460px;
  left: 700px;
  top: 498px;

}

.book-page .book-page__title{
  position: absolute;
  left: 700px;
  top: 198px;
}

.book-page .book-page__author{
  position: absolute;
  display: block;
  overflow: hidden;
  font-size: 25px;
  left: 700px;
  top: 280px;
}

.book-page  .author{
  position: absolute;
  display: block;
  overflow: hidden;
  font-size: 20px;
  left: 845px;
  top: 284px;
}

.book-page .star-rating{
  position: absolute;
  display: block;
  overflow: hidden;
  font-size: 20px;
  left: 700px;
  top: 350px;
}
